body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

thead {
  font-size: 110%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.bg-steel {
  background-color: #00bfff;
}

.site-header .navbar-nav .nav-link {
  color: #fafafa;
  
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


a {
  color: #428bca;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

main {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
  max-width: 640px;
  width: 94%;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.event-table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}

.event-list td{
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  background-color: #f0f0f0;
}

.event-list th{
  border: 1px solid #ddd;
  border-bottom-width: 2px;
}

table{
  border-collapse: collapse;
  max-width: 100%;
  text-align: center;
  margin-left: auto;
}

.match>thead>tr>th{
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  background-color: #f0f0f0;
}

.match td{
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.match-lg>thead>tr>th{
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  background-color: #f0f0f0;
}

.match-lg td{
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.red{
  background-color: #fee;
}

.blue{
  background-color: #EEEEFF;
}

.form-group{
  padding: 20px;
}

