{% extends "ToastScout/base.html" %}
{% block content %}
<form method="POST" action="{% url "event_setup"%}" enctype="multipart/form-data" class="form-horizontal"> 
{% csrf_token %}

<div class="form-group">
    <p>Enter an event key:</p>
    <div class="col-md-8">
        <input type="text" name="event_key" id="event_key" required="True" class="form-control">
    </div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
</div>    
    
<div class="form-group">
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
        <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Submit </button>
    </div> 
</div>

{% endblock %}